.link {
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}

.link:hover {
    color:rgb(248, 248, 248);
}
body{
    background-color: wheat;
    width: 980px;
    margin: auto;
    
}
nav{
    display: flex;
    background-color: antiquewhite;
    border-radius: 12px;

}
nav li{
    list-style: none;
    margin: auto;
}
nav li:hover{
    background-color: rgba(55, 52, 57, 0.327);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.275);
    padding: 2px;
}
nav img{
    margin: auto;
}
.baner{
    border-radius: 50px;
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.text-box {
    background-color: rgb(247, 237, 223);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ccc;
    margin:  auto;
    text-align: center;
    border-radius: 20px;
}
.first{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.m{
    margin-top: 10px;
    font-size: 30px;
    background-color: rgb(247, 237, 223);
    text-align: center;
    border-radius: 12px;
}
.news{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.circle-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 237, 223);
}
.text-avt{
    border-radius: 12px;
    background-color: rgb(247, 237, 223);
    width: 300px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}
.zasnow{
    display: flex;
    gap: 10px;
    justify-content: center;
}
footer{
    background-color: antiquewhite;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    
}
footer li:hover {
    background-color: rgba(55, 52, 57, 0.327);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.275);
    padding: 2px;
}
span:hover {
    background-color: rgba(55, 52, 57, 0.327);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.275);
    padding: 1px;
}

.fonav{
    display: flex;
    gap: 20px;
}
.moder{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.suport-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 237, 223);
}
.suport{
    border-radius: 15% 30% 15% 30% ;
    background-color: blanchedalmond;
    height: 200px;
    width: 150px;
    padding-left: 30px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.275);
}
.sup-info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.text-help {
    background-color: rgb(247, 237, 223);
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #ccc;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    display: flex;
    margin-right: 25px;
}

/* Часті питання */
.vidstup{
    padding-top: 10px;
    padding-bottom: 10px;
}
details {
    border: 2px solid #908e8e;
    border-radius: 12px;
    margin-bottom: 10px;
    background-color: #fff6e9;
    overflow: hidden;
    
}

summary {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    background-color: rgb(247, 237, 223);}

summary::marker {
    display: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 1.4s linear, padding 1.4s linear; */
    padding: 0 15px;
    transition: ease 3s;
}

details[open] .content {
    max-height: 300px;
    padding: 15px;
}
/* часті питання */
.text-help a{
    text-decoration: none;
    color: black;
}
.text-help a :hover{
    background-color: rgba(40, 48, 48, 0.605);
    color: rgba(255, 255, 255, 0.895);
    text-decoration: none;
}
.spiwrob{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

.prod{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.prod img{
    border: 2px solid beige;
    border-radius: 12px;
    background-color: #bbb49aaf;
    height: 220px;
    width: 320px;
    cursor: pointer;
}

.bots{
    display: flex;
    justify-content: center;
    gap: 20px;   
}
.knopka{
    width: 150px;
    border: 4px inset rgba(214, 186, 159, 0.905);
    border-radius: 10% 30% 10% 30%;
    background-color: #d0ce97b0;
}
.ur :hover{
    color: #ccc;
    background-color: rgba(176, 128, 128, 0.629);
    
}
.tow{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

/* асортимент */
.fon{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 12px;
    border: 3px solid rgb(227, 218, 218);
    
    
    
}
.postachal {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 237, 223);
    
}
.tovar{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10%;
    height: 350px;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 237, 223);
}
.vmist{
    display: flex;
    gap: 10px;
}
.vids{
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 25px;
    width: 300px;
}
.avtors{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    background-color: #d8d3bba8;
    border-radius: 22px;
    padding: 5px 5px 5px 5px;
    border: 3px solid rgb(255, 255, 255);
}
.name{
    font-size: 28px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    padding: 4px 12px 4px 12px;
    background-color: #bbb49aaf;
}
.kontact{
    margin-top: 3px;
    padding: 3px 3px 3px 3px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #bbb49aaf;
}

.coment {
    border-radius: 12px;
    background-color: rgb(247, 237, 223);
    width: 300px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    justify-content: flex-start;
}
.avtors img{
    margin-top: 25px;
}
.come{
    justify-content: flex-start;
    display: flex;
    background-color: #bbb49aaf;
    border: 2px solid rgb(255, 255, 255);
    margin-left:  5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
}
.comentator{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 237, 223);
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.nam{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    
}
.coms{
    display: flex;
    margin-top: 2px;
    justify-content: flex-start;
    font-size: 12px;
    border-radius: 12px;
    margin-top: 3px;
}
.sd{
    margin-top: 10px;
    margin-left: 5px;
}

